* {
    box-sizing: border-box;
    font-family: rubik;
}

body {
    background-image: url(assets/bg.png);
    /* overflow: hidden; */
    height: 100vh;
    margin: auto 0;
}


.start-window {
    height: 300px;
    width: 500px;
    background-color: #f5f3e8;
    border: 6px solid black;
    border-radius: 60px;
    margin: 0 auto;
    position: absolute;
    align-items: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.current-day {
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
    height: 50px;
    line-height: 50px;
    text-decoration: underline;
}

.current-goal {
    font-size: 100px;
    font-weight: 500;
    margin: 40px;
    height: 50px;
    line-height: 50px;
}

.start {
    background-color: #7ee074;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.2s font-size;
}

.start:hover {
    background-color: #abffa2;
    font-size: 22px;
}

#timer {
    background-color: #e35b30;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    width: 200px;
    height: 100px;
    border: 6px solid black;
    border-radius: 30px;
    font-size: 60px;
    font-weight: 700;
    margin: 25px auto;
}

#counters {
    position: absolute;
    margin: -10px 10px;
}

#day {
    width: 100px;
    height: 55px;
    background-color: #efd34a;
    border: 3px solid black;
    border-radius: 15px;
    line-height: 50px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
}

#ingame-earning {
    width: 120px;
    height: 55px;
    background-color: #efd34a;
    border: 3px solid black;
    border-radius: 15px;
    line-height: 50px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
}

.belt {
    width: 100%;
    margin: 0px auto;
    height: 350px;
}

.belt img {
    display: block;
    position: absolute;
    width: 100vw;
    object-fit: cover;
    margin: 0 auto;
}

.item-order {
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 95vw;
    top: 30px;
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    grid-column-gap: 10px;
    color: #e35b30;
}

.item-order p {
    margin: 10px auto;
    height: 50px;
    line-height: 40px;
    width: 100px;
    background-color: #f5f3e8;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
}

.item-order img {
    width: 15%;
    margin: 0px 15px;
}

#result-window {
    height: 450px;
    width: 900px;
    background-color: #f5f3e8;
    border: 6px solid black;
    border-radius: 60px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#result-window h2 {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    height: 50px;
    line-height: 50px;
    text-decoration: underline;
    position: relative;
    bottom: 25px;
}

#result {
    text-align: center;
    color: #e33030;
    height: 150px;
    width: 100%;
    position: relative;
    bottom: 60px;
}

.outcome {
    font-size: 30px;
    margin: 0;
}

.total-earnings {
    font-size: 80px;
    font-weight: 500;
    display: inline-block;
    margin: 0 auto;
    font-size: 150px;
}

#bottom-buttons {
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
    height: 60px;
    bottom: 40px;
}

#restart,
#continue {
    background-color: #efd34a;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 500;
    width: 200px;
    transition: 0.2s font-size;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#continue:hover,
#restart:hover {
    background-color: #ffed91;
    font-size: 33px;
}

#visual-cues {
    width: 70%;
    margin: 0px auto;
}

.guide {
    display: block;
    position: absolute;
    width: 200px;
    height: 30px;
    background-color: #f5f3e8;
    margin: -10px 85vw;
    line-height: 25px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
}

.guide-window {
    width: 900px;
    margin: 0 auto;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}
